.main__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: var(--wite-color);
  background-color: var(--accent-color);
  cursor: pointer;
  padding: 10px 32px;
  min-width: 200px;
  margin: 0 auto;
  border: none;
}